.twitter-box {
  background-color: #f0f0f0;
}

.twitter-head {
  width: 100%;
  background: linear-gradient(to right, #ff9900, #ff2f00);
  color: #fff;
  padding-bottom: 0.4rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.twitter-head-title {
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
  font-size: 0.5rem;
}

.twitter-head-title-content {
  height: 1rem;
  line-height: 1rem;
}

.twitter-head-search {
  font-size: 0.6rem !important;
  margin-right: 0.1rem;
  height: 1rem;
  line-height: 1rem;
}

.twitter-head-genenliebiao {
  font-size: 0.6rem !important;
}

.twitter-body {
  padding-top: 3rem;
  padding-bottom: 0.2rem;
  margin-bottom: 1rem;
}

.twitter-item {
  margin: 0.4rem;
  padding: 0.2rem;
  height: 12rem;
  border-radius: 0.3rem;
  background-color: #fff;
}

.twitter-item-head {
  display: flex;
  justify-content: space-between;
}

.twitter-item-title {
  font-size: 0.4rem;
  color: #666;
  margin-bottom: 0.2rem;
}

.twitter-item-userbox {
  display: flex;
}

.twitter-item-user {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.1rem;
}

.twitter-item-username {
  font-size: 0.4rem;
}

.twitter-item-nick {
  font-size: 0.4rem;
  width: 3rem;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.twitter-item-usertag {
  background-color: #ffccde;
  padding: 0.05rem 0.2rem;
  border-radius: 15%/50%;
  vertical-align: top;
  color: #ff0058;
  display: inline-block;
}

.twitter-item-fans {
  font-size: 0.3rem;
  color: #666;
}

.twitter-item-attention {
  border-radius: 20%/50%;
  width: 2rem;
  background: linear-gradient(to right, #ff9900, #ff2f00) !important;
  color: #fff;
}

.twitter-item-text {
  font-size: 0.4rem;
  height: 0.8rem;
  line-height: 0.8rem;
}

.twitter-item-imgList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.twitter-item-img {
  width: 2.85rem;
  height: 2.85rem;
  padding: 0.02rem;
}

.twitter-item-foot {
  display: flex;
  flex-direction: row-reverse;
  color: #666;
}

.twitter-item-msg {
  font-size: 0.4rem !important;
  margin-right: 0.3rem;
  display: block;
}

.twitter-item-agree {
  font-size: 0.4rem !important;
  display: block;
}