#space-center {
  margin-bottom: 55px;
}

#space-head {
  color: #fff;
  padding: 0.4rem;
  background: linear-gradient(to right, #ff9900, #ff2f00);
}

.space-headBar {
  background: linear-gradient(to right, #ff9900, #ff2f00);
}

.person-box {
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.user-info {
  display: flex;
  align-items: flex-start;
}

.user-pic {
  width: 1.2rem;
  height: 1.2rem;
  box-sizing: border-box;
  border: 0.025 solid #fff;
  margin-right: 0.4rem;
  display: block;
  border-radius: 50%;
}

.userInfoItem {
  font-size: 0.4rem;
  margin: 0;
}

.username {
  font-size: 0.52rem;
}

.family-count {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 0.32rem !important;
  padding: 0.05rem 0.1rem;
  border-radius: 10%/50%;
  background-color: #d46001;
}

.family-icon {
  margin-right: 0.075rem;
}

.simpleItems {
  display: flex;
  text-align: center;
  margin-top: 0.4rem;
  font-size: 0.32rem;
  justify-content: space-between;
}

.simpleItems p {
  margin: 0.1rem 0;
}

.main-column {
  padding: 0.4rem;
  text-align: center;
  background-color: #f0f0f0;
}

.column-cell {
  border-radius: 0.2rem;
  background-color: #fff;
  margin-bottom: 0.4rem;
}

.column-head {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.2rem;
  justify-content: space-between;
  border-bottom: 0.025rem solid #f0f0f0;
}

.column-title {
  font-size: 0.36rem;
  font-weight: bold;
}

.column-tip {
  font-size: 0.32rem;
  color: #666;
}

.column-items {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0.2rem 0.2rem 0.4rem;
}

.column-items p {
  margin: 0.1rem 0;
  font-size: 0.32rem;
}

.column-icon {
  font-size: 0.6rem !important;
}

.colum-icon-order {
  background: linear-gradient(to right, #ff9900, #ff2f00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.column-item {
  width: 1.4rem;
}

.topic-icon {
  background: linear-gradient(to right, #f50354, #f700ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gold-icon {
  background: linear-gradient(to right, #f1c232, #ff9900);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.huabei-icon {
  background: linear-gradient(to right, #00ffff, #4aa8e8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card-icon {
  background: linear-gradient(to right, #cf8ff9, #9900ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.assess-icon {
  background: linear-gradient(to right, #befbbe, #026502);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.more-icon {
  color: #7f6000;
}

.card {
  height: 6rem;
  border-radius: 0.2rem;
  background: #fff;
  margin-bottom: 0.4rem;
}

.card-content {
  display: flex;
  padding: 0.2rem;
  justify-content: space-around;
}

.card-head {
  font-size: 0.4rem;
  margin: 0;
  padding: 0.2rem;
  border-bottom: 0.025 solid #f0f0f0;
}

.health-icon {
  font-size: 0.6rem !important;
  background: linear-gradient(to right, #00ff85, #01a556);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  vertical-align: middle;
  margin-right: 0.08rem;
}

.item-button {
  font-size: 0.32rem;
  vertical-align: top;
  padding: 0.2rem 0.4rem;
  margin: 0.2rem 0;
  border-radius: 15%/50%;
  outline: none;
  background: #fff;
}

.health-button {
  border: 0.025rem solid #00ff85;
  color: #00ff85;
}

.value {
  color: #00ff85;
  font-size: 0.48rem;
}

.valTip1 {
  font-size: 0.32rem;
}

.valTip2 {
  font-size: 0.28rem;
  color: #666;
}

.setMethod {
  font-size: 0.48rem;
  color: #9900ff;
}

.startSetting {
  font-size: 0.32rem;
}

.count {
  font-size: 0.28rem;
  color: #666;
}

.skin-icon {
  font-size: 0.6rem !important;
  background: linear-gradient(135deg, #ffb342, #fe42ff, #ab34fb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  vertical-align: middle;
  margin-right: 0.08rem;
}

.skin-topic {
  width: 2.5rem;
  font-size: 0.32rem;
  border-radius: 0.1rem;
}

.skin-topic-selected {
  box-shadow: 0.04rem 0.04rem 0.08rem 0.04rem #888888;
}

.skin-item {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1rem 0.1rem 0 0;
}

.skin-topic p {
  margin: 0;
  padding: 0.08rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.skin-button {
  border: 0.025rem solid #fe42ff;
  color: #fe42ff;
}

.world-topic {
  background-color: #fbadfb;
}

.animal-topic {
  background-color: #93c47d;
}

.weather-topic {
  background-color: #cccccc;
}

.world-icon {
  font-size: 0.8rem !important;
  background: linear-gradient(135deg, #b0c8f0, #4a86e8);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.animal-icon {
  font-size: 0.8rem !important;
  background: linear-gradient(135deg, #fd8100, #783f04);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.weather-icon {
  font-size: 0.8rem !important;
  background: linear-gradient(135deg, #ffff00, #ff9900);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}