.goods-head {
  background: linear-gradient(to right, #ff9900, #ff2f00);
}

.goods-body {
  margin-top: 1.2rem;
  padding: 0.25rem;
}

.goods-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem
}

.goods-item-img {
  width: 3rem;
  height: 3rem;
  border-radius: 0.2rem;
  margin-right: 0.2rem;
}

.goods-item-infobody {
  width: 6rem;
  font-size: 0.4rem;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goods-item-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.goods-item-discount {
  color: #ff9900;
  width: 1rem;
  text-align: center;
  border: 0.04rem solid #ff9900;
  padding: 0.01rem;
  border-radius: 0.2rem;
}

.goods-item-price {
  color: #ff2f00;
}

.goods-item-location {
  font-size: 0.3rem;
}