.cart-head {
  width: 100%;
  background: linear-gradient(to right, #ff9900, #ff2f00);
  color: #fff;
  padding-bottom: 2rem;
  z-index: 1;
}

.cart-head-title {
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
  font-size: 0.5rem;
}

.cart-head-title-content {
  height: 1rem;
  line-height: 1rem;
}

.cart-head-manage {
  font-size: 0.4rem;
  margin-right: 0.1rem;
  height: 1rem;
  line-height: 1rem;
}

.cart-sta-text {
  display: flex;
  align-items: baseline;
  font-size: 0.4rem;
  padding: 0.1rem 0.25rem;
}

.cart-items {
  box-sizing: border-box;
  padding: 0.25rem;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.cartItem {
  font-size: 0.3rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  background: #fff;
  top: -2rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.cart-storeHead {
  margin-bottom: 0.2rem;
}

.cart-seller-icon {
  width: 0.5rem;
  margin-right: 0.1rem;
}

.cart-goStore-icon {
  font-size: 0.2rem !important;
  margin-left: 0.1rem;
}

.cart-checkBox {
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.2rem;
  vertical-align: middle;
}

.cart-body {
  /* font-size: 0.3rem;
  padding: 0.2rem;
  border-radius: 0.2rem;
  background-color: #fff; */
  /* top: -2rem;
  margin-bottom: 0.5rem; */
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  align-items: center;
}

.cart-body-content {
  width: 8rem;
  display: flex;
  justify-content: space-between;
}

.cart-good-img {
  width: 2.5rem;
  height: 2.5rem;
}

.cart-good-textbody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-good-info {
  width: 5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-good-op {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-good-price {
  color: #ff2f00;
}

.cart-good-countop {
  width: 0.4rem;
  text-align: center;
  display: inline-block;
  padding: 0.05rem 0.1rem;
  border-radius: 0.1rem;
  border: 0.02rem solid #ccc;
}

.cart-account {
  font-size: 0.4rem;
  background-color: #fff;
  width: 100%;
  height: 1.5rem;
  padding: 0.1rem 0.25rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 1.45rem;
  /* background: red; */
}

.cart-countAll {
  color: #ff2f00;
  margin-right: 0.2rem;
}

.cart-paybutton {
  font-size: 0.4rem;
  color: #fff;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
  background: #ff4117;
}